#!/usr/bin/make -f

SHELL = /bin/bash
PWD = `pwd`

setup:
	true

clean:
	rm -rf $(PWD)/debian/package

build:
	make

binary: Makefile #/usr/share/applications/xampp-control-panel.desktop
	make install DESTDIR=$(PWD)/debian/package
